<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="name">Name: </label>
  <input type="text" th:field="*{name}" id="name"/><br/>
  <label for="lastname">Lastname: </label>
  <input type="text" th:field="*{lastname}" id="lastname"/><br/>
  <label for="email">email: </label>
  <input type="text" th:field="*{email}" id="email"/> <br/>
  <label for="password">password: </label>
  <input type="text" th:field="*{password}" id="password"/> <br/>
  <label for="roles">roles: </label>
  <input type="checkbox" id="roles" name="roles"
         th:each="role : ${allroles}"
         th:text="${role.getName()}"
         th:value="${role.id}"
         th:field="*{roles}"/> <br/>

  <input type="submit" value="Update"/>
</form>
<br/>
<hr/>
<form th:action="@{/logout}">
  <input type="submit" value="Logout"/>
</form>
</body>
</html>